body {
    margin-top: 50px;
    margin-bottom: 70px;
    padding-top: 40px;
    padding-bottom: 60px;
    background: transparent;
}

/* Override B3 .panel adding a subtly transparent background*/
.panel {
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 15px;
}


/* Get rid of bottom navbar on landscape mobile phones */
@media (max-height: 320px) and (orientation: landscape) {

.navbar-fixed-bottom {
   display: none;
 }
}
