
/* C-Hicks */
/* Slider Customisation */

/*
the green    #AFD13F
the purple   #9E55A4
the pink     #E0436F
*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    margin-bottom: 70px;
}

footer {
    margin: 50px 0;
}

/* Carousel fix - responsive height (note: must use 100vh for height or FF won't display right)*/

.carousel-inner > .item > img{
 height:auto!important;
 position:relative!important;
 }

 .carousel .item{
 overflow:hidden!important;
 height:auto;
 }

 .carousel-inner {
 position: relative;
 width: 100%;
 overflow: hidden;
 }

/* Carousel Control */

.carousel-control {
position: absolute;
top: 50%; /* pushes the icon in the middle of the height */
z-index: 5;
display: inline-block;
}

.carousel-control.left, .carousel-control.right {
	background: none;
	border: none;
}

.carousel-control.left {
  color: #fff;
}

.carousel-control.right {
  color: #fff;

}

/* Transparent Panels */

.panel {
    background-color: rgba(255, 255, 255, 0.92);
}

/* Fancy Down Arrows */

.s1arrow {
  color: #fff;  text-shadow: 0px 0px 1px #222;;
}

/* mouse over link */
.s1arrow:hover {
	color: #E0436F;
}

/* selected link */
.s1arrow:active {
	color: #9E55A4;
}


.s2arrow {
  color: #fff;  text-shadow: 0px 0px 1px #222;;
}

/* mouse over link */
.s2arrow:hover {
	color: #AFD13F;
}

/* selected link */
.s2arrow:active {
	color: #677a1f;
}


.s3arrow {
  color: #fff;  text-shadow: 0px 0px 1px #222;;
}

/* mouse over link */
.s3arrow:hover {
	color: #9E55A4;
}

/* selected link */
.s3arrow:active {
	color: #E0436F;
}
/* End Fancy Down Arrows */
